<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>The Quest</title>
  <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
  <link href="../css-components/story.css" rel="stylesheet" type="text/css">
</head>
<% if (typeof(fail) != "undefined") { %>
<body onload="music()" id="body">
<% } else { %>
<body style= "opacity: 0;" onload="fadeAndMusic()" id="body">
<% } %>
  <div class="container d-flex justify-content-end">
    <img src="../images/lyre-play.png" onclick="sound()" id="music-on" class="invisible">
    <img src="../images/lyre-stop.png" onclick="sound()" id="music-off">
  </div>
  <div class="container position-relative">
    <pre class="decoration d-flex justify-content-center">

    (¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯)
   ( \                                                                               / )
  ( \ )                                                                             ( / )
 ( ) (                                                                               ) ( )
  ( / )                                                                             ( \ )
   ( /                                                                               \ )
   ( \                                                                               / )
  ( \ )                                                                             ( / )
 ( ) (                                                                               ) ( )
  ( / )                                                                             ( \ )
   ( /                                                                               \ )
   ( \                                                                               / )
  ( \ )                                                                             ( / )
 ( ) (                                                                               ) ( )
  ( / )                                                                             ( \ )
   ( /                                                                               \ )
   ( \                                                                               / )
  ( \ )                                                                             ( / )
 ( ) (                                                                               ) ( )
  ( / )                                                                             ( \ )
   ( /                                                                               \ )
    (_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·._¸.·´¯`·._)

    </pre>
    <div class="position-absolute">
      <pre class="d-flex justify-content-center forest-art">
        ~~~~~~                     /\
      ~(      )~                  /  \
     (   o      )                /  \ \
    (        o   )              / /    \                  ~~~~~~
   (      o       )            /_   \  _\               ~(       )~
    (   o        )              /      \               (       o   )
     (__      __)              /  /     \             (    o        )
        \    /    /\          /_    \   _\             (       o   )
     ____|   |   /\ \          /        \               (__     __)
    @___     |  /_  _\        /  /    \  \                 \   /
        \    |   /  \        /_   /      _\        ~       |   |__(´)
         |   |  /  \ \        /      \   \       (~~~)     |    __() )
         | @ | /_/   _\      /  /  /   \  \     (     )    |   /   ``
         |   |  /  \ \      /______  ______\   (  (    )   |   |
         |   | /__  __\           |  |         (     ) )   |   |
  <@>    |   |   | <@>   (^)      |  |   (^)    (  (  )    |   |    <@>
  _|____/     \__|_\|/____U_______|  |____u_______|/|_____/     \___\|/__
      </pre>
    </div>
    <% if (typeof(fail) != "undefined") { %>
    <% const invalidAnswer = ['Sorry Sire, your mumbling was not comprehensible. Try again!', 'What was that? Please state your intentions clearly!', '??? You better hurry and take the path or the forest! Which one will it be?']; %>
    <%= invalidAnswer[Math.floor(Math.random() * 3)] %>
    <% } else { %>
      <p>Welcome <%= char.charactername %> !</p>
      <p id="story"></p>
    <% }; %>
    <form action="pathForest" method="POST" class="invisible" id="form">
      <input type="text" name="direction">
      <input type="hidden" name="id" value="<%= char._id %>">
      <input type="hidden" name="level" value="<%= char.level %>">
      <input type="submit" id="hide-submit">
    </form>
  </div>
  <script src="../js/story/0.js"></script>
  </body>
</html>
