<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>The Quest</title>
  <link href="../css-components/test.css" rel="stylesheet" type="text/css">
</head>
<body onload="unfadeTest()" id="body">
  <div class="container">
    <pre class="decoration">

(¯`·.¸¸.·´¯`·.¸¸.·´¯)  (¯`·.¸¸.·´¯`·.¸¸.·´¯)  (¯`·.¸¸.·´¯`·.¸¸.·´¯)
 /\                                                              /\
//\\                                                            //\\
\\//                                                            \\//
 //                                                              //
//\\                                                            //\\
\\//              Name: Olivier                                 \\//
 \\               Weapon: Sword                                  \\
//\\                                                            //\\
\\//                                                            \\//
 //                                                              //
//\\                                                            //\\
\\//                                                            \\//
 \\                                                              \\
//\\                                                            //\\
\\//                                                            \\//
 \/                                                              \/
(¯`·.¸¸.·´¯`·.¸¸.·´¯)  (¯`·.¸¸.·´¯`·.¸¸.·´¯)  (¯`·.¸¸.·´¯`·.¸¸.·´¯)

    </pre>
  </div>
  <script src="../js/testing.js"></script>
  </body>
</html>
