<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>The Quest</title>
  <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
  <link href="../css-components/strawberryPlayerDead.css" rel="stylesheet" type="text/css">
</head>
<body id="body">
  <div class="container decoration" id="snake">
    <div class="d-flex justify-content-center">
      <pre>

         ___    ___
        ( _<    >_ )
        //        \\
        \\___..___//
         `-(    )-'
           _|__|_
          /_|__|_\
          /_|__|_\
          /_\__/_\
           \ || /  _)
             ||   ( )
             \\___//
              `---'

      </pre>
    </div>
      <p id="story"></p>
  </div>
  <div class="container decoration-dead invisible" id="dead">
    <div class="d-flex justify-content-center">
      <pre>
____        ____                                  __
\   \      /   /   .-----.      ____     ____    /  / .---------.    .------------.
 \   \    /   /  ,'   _   ',   |    |   |    |  /  /  |     _    ',  |            |
  \   \  /   /  .   .' '.   .  |    |   |    | /__/   |   .' '.    . |     _______|
   \   \/   /  |    |   |    | |    |   |    |        |   |   |    | |    |____
    \      /   |    |   |    | |    |   |    |        |    '-'     ' |         |
     |    |    |    |   |    | |    |   |    |        |           /  |     ____|
     |    |     ,   '._.'    ,  ,   '._.'    ,        |    |\    \   |    |_______
     |    |      .         .     .         .          |    | \    \  |            |
     |____|       '._____.'       '._____.'           |____|  \____\ |____________|


          .---------.    .------------.         .-.         .---------.
          |     _    ',  |            |        /   \        |     _    ',
          |   .' '.    . |     _______|       /     \       |   .' '.    .
          |   |   |    | |    |____          /   .   \      |   |   |    |
          |   |   |    | |         |        /   /_\   \     |   |   |    |
          |   |   |    | |     ____|       /    ___    \    |   |   |    |
          |   '._.'    , |    |_______    /    /   \    \   |   '._.'    ,
          |          .   |            |  /    /     \    \  |          .
          |________.'    |____________| /____/       \____\ |________.'



      ,-=-.                                                                    _
     /  +  \                                                                 _| |_
     | ~~~ |                                                                |_   _|
     |R.I.P|                                   <ô>           (^)    <@>       | |
\vV,,|_____|V,,\vV,,,/,vV,v,,vV/,,v,|,v/,\vV,,,\|/,,/,vV,v,/,,u,,/v,\|/,,vV,v,|_|/,,v,|,

      </pre>
    </div>
  </div>
  <script src="../js/story/forestHidePlayerDead.js"></script>
  </body>
</html>
