body {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: #1dbb1e;
}

h1 {
  margin: 0;
  padding: 0;
  text-shadow: 0 0 9px #1dbb1e;
}

.cursor {
  animation:blinking 1s linear infinite;
}

@keyframes blinking {
    0% { opacity: 1; }
   49% { opacity: 1; }
   50% { opacity: 0; }
  100% { opacity: 0; }
}

.character {
  font-size: 50px;
  color: #1dbb1e;
  animation:blinking 2s linear infinite;
}

input {
  border: none;
  background-color: black;
  color: #1dbb1e;
}
