<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>Create your Character</title>
  <link href="css-components/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
    <h1 class="d-flex justify-content-center" id="title-quest">Your destiny awaits!</h1>
    <div class="d-flex justify-content-center">
      <pre class="character-art">


 (¯`·.¸¸.·´¯`·.¸¸.·´¯)  (¯`·.¸¸.·´¯`·.¸¸.·´¯)  (¯`·.¸¸.·´¯`·.¸¸.·´¯)
 /\                                                               /\
//\\        /==\                                                 //\\
\\//       _\~~/_                                                \\//
 //      _/^^^^^^\                                                //
//\\    /  \^^^^|\\                                              //\\
\\//   / .. \^^^| \\                                             \\//
 \\    \ .. /^^^|  &[=======>                                     \\
//\\    \__/^^^^\                                                //\\
\\//       |-||-|                                                \\//
 //        |#||#|                                                 //
//\\       |-||-|                                                //\\
\\//_______{^}{^}_______░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ \\//
 \\                                                               \\
 \/                                                               \/
 (¯`·.¸¸.·´¯`·.¸¸.·´¯)  (¯`·.¸¸.·´¯`·.¸¸.·´¯)  (¯`·.¸¸.·´¯`·.¸¸.·´¯)
      </pre>
    </div>

    <pre class="character-art" id="character-walk">

             __
           _/_ \
          /  \ =
         / .. \/
         \ .. /
         |\__/|=====>
        /======\
          ) ) \
         / / \ \
        / /   \ \
░░░░░░░(__^>░░(__^>░░░░░░░░░░


            __
           /_ \
          /  \=
         / .. V
         \ .. /
         |\__/|====>
        /======\
          | ||
          | ||
          | ||
_________(__^>^>______


            /==\
           _\~~/_
         _/^^^^^^\
        /  \^^^^|\\
       / .. \^^^| \\
       \ .. /^^^|  &[=======>
        \__/^^^^\
           |-||-|
           |#||#|
           |-||-|
    _______{^}{^}_______░░░░░░░░░░

    </pre>

    <div class="d-flex justify-content-center text-font">
      <h6 id="name"></h6>
    </div>

    <div class="d-flex justify-content-center">
      <form action="#">
        <div class="d-flex">
          <p id="ask-name"></p>
          <div class="cursor display"><h1>></h1></div>
          <div> <h1> <input class="text-shadow" autofocus="autofocus" id="nameInput" type="text" maxlength="15" minlength="1"> </h1></div>
          <div><p id="enter" class="display">Press Enter</p></div>
          <button id="btn" >Button</button>
        </div>
      </form>
    </div>


    <form action="/character" method="POST">
      <input type="hidden", id="magic">
      <input type="submit", id="submit", name="submit">
    </form>

  </div>
<script src="js/character.js"></script>
</body>
</html>
