<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>The Quest</title>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
    <link href="css-components/startgame.css" rel="stylesheet" type="text/css">
  </head>
  <body style= "opacity: 0;" onload="unfade()" id="body">
    <div class="container d-flex justify-content-center" id="title">
      <p>Welcome adventurer! Choose thy path!</p>
    </div>
    <div class="container d-flex justify-content-center decoration">
      <pre>

       (¯`·.¸¸.·´¯`·.¸¸.·´¯)  (¯`·.¸¸.·´¯`·.¸¸.·´¯)  (¯`·.¸¸.·´¯`·.¸¸.·´¯)
       /\                                                               /\
      //\\                                                             //\\
      \\//                                                             \\//
       //                                                               //
      //\\                                                             //\\
      \\//                                                             \\//
       \\                    COMBAT                                     \\
      //\\                                                             //\\
      \\//                                                             \\//
       //                                                               //
      //\\                                                             //\\
      \\//                                                             \\//
       \\                                                               \\
      //\\                                                             //\\
      \\//                                                             \\//
       \/                                                               \/
       (¯`·.¸¸.·´¯`·.¸¸.·´¯)  (¯`·.¸¸.·´¯`·.¸¸.·´¯)  (¯`·.¸¸.·´¯`·.¸¸.·´¯)

               /                                                  \
           O===[====================- COMBAT -====================]===O
        /\     \                                                  /     /\
       //\\                                                            //\\
       \\//                                                            \\//
        //                                                              //
       //\\                                                            //\\
       \\//                                                            \\//
        \\                                                              \\
       //\\                                                            //\\
       \\//                                                            \\//
        //                                                              //
       //\\                                                            //\\
       \\//                                                            \\//
        \\                                                              \\
       //\\                                                            //\\
       \\//                                                            \\//
        \/     /                                                  \     \/
           O===[====================- COMBAT -====================]===O
               \                                                  /

        (¯`·.¸¸.·´¯`·.¸¸.·´¯)  (¯`·.¸¸.·´¯`·.¸¸.·´¯)  (¯`·.¸¸.·´¯`·.¸¸.·´¯)
       /:\                                                              (""")
       |:|                                                               III
       |:|                                                               III
       |:|                                                               III
       |:|                                                             __III__
       |:|                                                           /:-.___,-:\
       |:|                                                           \]  |:|  [/
       |:|                                                               |:|
       |:|                                                               |:|
       |:|                                                               |:|
   /]  |:|  [\                                                           |:|
   \:-'"""`-:/                                                           |:|
     ""III""                                                             |:|
       III                                                               |:|
       III                                                               |:|
       III                                                               |:|
      (___)                                                              \:/
        (¯`·.¸¸.·´¯`·.¸¸.·´¯)  (¯`·.¸¸.·´¯`·.¸¸.·´¯)  (¯`·.¸¸.·´¯`·.¸¸.·´¯)


   (¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯·.¸¸.·´¯`·.¸¸.·´¯)
  ()                                                                        ()
 ()                                                                          ()
  ()                                                                        ()
 ()                                                                          ()
  ()                                                                        ()
 ()                                                                          ()
  ()                                                                        ()
 ()                                                                          ()
  ()                                                                        ()
 ()                                                                          ()
  ()                                                                        ()
 ()                                                                          ()
  ()                                                                        ()
 ()                                                                          ()
  ()                                                                        ()
 ()                                                                          ()
  ()                                                                        ()
 ()                                                                          ()
  ()                                                                        ()
 ()                                                                          ()
   (_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·._)


    (¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯·.¸¸.·´¯`·.¸¸.·´¯)
   ( \                                                                      / )
  ( \ )                                                                    ( / )
 ( ) (                                                                      ) ( )
  ( / )                                                                    ( \ )
   ( /                                                                      \ )
   ( \                                                                      / )
  ( \ )                                                                    ( / )
 ( ) (                                                                      ) ( )
  ( / )                                                                    ( \ )
   ( /                                                                      \ )
   ( \                                                                      / )
  ( \ )                                                                    ( / )
 ( ) (                                                                      ) ( )
  ( / )                                                                    ( \ )
   ( /                                                                      \ )
    (_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·._)



      _________________________________________________________________
    /   \                                                             `\
   || @  |                                                              |
   | \__/______________________________________________________________/
   |                                                                  |
    |                                                                 |
    |                                                                  |
    |                                                                  |
     |                                                                  |
      \                                                                 |
      /                                                                |
     |                                                                 |
      |                                                                 |
      |                                                                 |
      |                                                                  |
     |                                                                   |
     |  ________________________________________________________________|
     |/`  \                                                             `\
     || @ |                                                               |
      \___/_______________________________________________________________/

      .-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-.
      |                                   |
      |                                   |
      !                                   !
      :                                   :
      .                                   .
      .                                   .
      :                                   :
      !                                   !
      |                                   |
      |                                   |
      `-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-'


              /==\
             _\~~/_
           _/^^^^^^\
          /  \^^^^|\\
         / .. \^^^| \\
         \ .. /^^^|  &[=======>
          \__/^^^^\
             |-||-|
             |#||#|
             |-||-|
      _______{^}{^}_______


         ______________________________
       / \                             \.
      |   |                            |.
       \_ |                            |.
          |                            |.
          |                            |.
          |                            |.
          |                            |.
          |                            |.
          |                            |.
          |                            |.
          |                            |.
          |                            |.
          |                            |.
          |                            |.
          |   _________________________|___
          |  /                            /.
          \_/____________________________/.


             ^
            /:\    (""")
            |:|     III
            |:|     III
            |:|     III
            |:|   __III__
            |:| /:-.___,-:\
            |:| \]  |:|  [/
            |:|     |:|
            |:|     |:|
            |:|     |:|
        /]  |:|  [\ |:|
        \:-'"""`-:/ |:|
          ""III""   |:|
            III     |:|
            III     |:|
            III     |:|
           (___)    \:/
                     v



     (¯`·.¸¸.·´¯`·.¸¸.·´¯)  (¯`·.¸¸.·´¯`·.¸¸.·´¯)  (¯`·.¸¸.·´¯`·.¸¸.·´¯)
    /\                                                               /\
   //\\        /==\                                                 //\\
   \\//       _\~~/_                                                \\//
    //      _/^^^^^^\                                                //
   //\\    /  \^^^^|\\                                              //\\
   \\//   / .. \^^^| \\                                             \\//
    \\    \ .. /^^^|  &[=======>                                     \\
   //\\    \__/^^^^\                                                //\\
   \\//       |-||-|                                                \\//
    //        |#||#|                                                 //
   //\\       |-||-|                                                //\\
   \\//_______{^}{^}_______░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ \\//
    \\                                                               \\
    \/                                                               \/
    (¯`·.¸¸.·´¯`·.¸¸.·´¯)  (¯`·.¸¸.·´¯`·.¸¸.·´¯)  (¯`·.¸¸.·´¯`·.¸¸.·´¯)


      (¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯·.¸¸.·´¯`·.¸¸.·´¯)
     ()                                                                        ()
    ()                                                                          ()
     ()                                                                        ()
    ()                                                                          ()
     ()                           /==\                                         ()
    ()                           _\~~/_                                         ()
     ()                         /^^^^^^\                                       ()
    ()                        /  \^^^^|\\                                       ()
     ()                      / .. \^^^| \\                                     ()
    ()                       \ .. /^^^|  &[=======>                             ()
     ()                       \__/^^^^\                                        ()
    ()                           |-||-|                                         ()
     ()                          |#||#|                                        ()
    ()                           |-||-|                                         ()
     () ░░░░░░░░░░░░░░░░░░░░░░░░░{^}{^}░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ ()
    ()                                                                          ()
     ()                                                                        ()
    ()                                                                          ()
     ()                                                                        ()
    ()                                                                          ()
      (_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·._)


                   __
                 _/_ \
                /  \ =
               / .. \/
               \ .. /
               |\__/|=====>
              /======\
                ) ) \
               / / \ \
              / /   \ \
             (__^>  (__^>


                 __     ,
                /_ \   //
               /  \=  //
              / .. V //
              \ .. /`8´
              |\__/|
             /======\
               | ||
               | ||
               | ||
               (__^>^>

                   __
                 _/_ \
                /  \ =
               / .. \/
               \ .. /
               |\__/|=====>
              /======\
                ) ) \
               / / \ \
              / /   \ \
      ░░░░░░░(__^>░░(__^>░░░░░░░░░░


                  __
                 /_ \
                /  \=
               / .. V
               \ .. /
               |\__/|====>
              /======\
                | ||
                | ||
                | ||
      _________(__^>^>______


                  /==\
                 _\~~/_
               _/^^^^^^\
              /  \^^^^|\\
             / .. \^^^| \\
             \ .. /^^^|  &[=======>
              \__/^^^^\
                 |-||-|
                 |#||#|
                 |-||-|
          _______{^}{^}_______░░░░░░░░░░


           ~~~~~
          (     )
         (  (    )
         (     ) )
          (  (  )
 ░░░░░░░░░░░|/|░░░░░░░░░░░

                                    ~~~~~~                     /\
                                  ~(      )~                  /  \
                                 (   o      )                /  \ \
                                (        o   )              / /    \
                               (      o       )            /_   \  _\
          __                    (   o        )              /      \
         /==\                    (__      __)              /  /     \
        _\~~/_                      \    /                /_    \   _\
      _/^^^^^^\                  ____|   |                 /        \
     /  \^^^^|\\                @___     |                /  /    \  \
    / .. \^^^| \\                   \    |               /_   /      _\
    \ .. /^^^|  &[=======>           |   |                /      \   \
     \__/^^^^\                       | @ |               /  /  /   \  \
        |-||-|                       |   |              /______  ______\
        |#||#|                       |   |                    |  |
        |-||-|          <@>   <@>    |   |     <@>   (^)      |  |           (^)
 _______{^}{^}__________\|/____|____/     \____\|/____U_______|  |____________u__


              ~~~~~~                     /\
            ~(      )~                  /  \
           (   o      )                /  \ \
          (        o   )              / /    \                  ~~~~~~
         (      o       )            /_   \  _\               ~(       )~
          (   o        )              /      \               (       o   )
           (__      __)              /  /     \             (    o        )
              \    /    /\          /_    \   _\             (       o   )
           ____|   |   /\ \          /        \               (__     __)
          @___     |  /_  _\        /  /    \  \                 \   /
              \    |   /  \        /_   /      _\        ~       |   |__(´)
               |   |  /  \ \        /      \   \       (~~~)     |    __() )
               | @ | /_/   _\      /  /  /   \  \     (     )    |   /   ``
               |   |  /  \ \      /______  ______\   (  (    )   |   |
               |   | /__  __\           |  |         (     ) )   |   |
  <@>   <@>    |   |   | <@>   (^)      |  |   (^)    (  (  )    |   |
__\|/____|____/     \__|_\|/____U_______|  |____u_______|/|_____/     \_________


                                                            ~~~~~~
                               | |                        ~(       )~
    ~          ~~~~~~    ,     | |                       (       o   )
  (~~~)      ~(      )~      , | |    /     o    \   ,  (    o        )
 (     )    (   o      ) /\  _/   \_ /            \      (       o   ) ,
(  (    )  (        o   )  \      , /    o         \   ,  (__     __)
(     ) ) (      o       ) _\  ,   /         o      \        \   /   <@>
 (  (  )   (   o        )  \      /                  \  ,    | @ |   \|/
   |/|      (__      __)   _\  , /                    \    , |   |
               \    / /  \ \    /     O       o        \     |   |   ,  ,
   (^) ,    ____|   |/__  __\  /                        \  ,/     \
  , u      @___     |  |  |   /              o       o   \    ,  , (^)  ,
      ,        \    | ,|  |, /   o                        \      ,  u   , ,
     ,      ,   |   |  , ,  /             O          O     \ <@>
  ,    <@>      | @ |      /                                \\|/  ,   ,
   ,    |       |   |     /                                  \,   ,   (^)
       ,    ,   |   |    /         o           O              \  ,   , u
  <@>  ,   ,    |   |   /                                    o \,         <@>
  \|/    ,    _/     \ /                                        \    ,  ,  |


                                            ~~~~~~
                                 | |      ~(       )~                /\
      ~          ~~~~~~    ,     | |     (       o   )    ,  ,      /  \
    (~~~)      ~(      )~      , | |    (    o        )            /  \ \
   (     )    (   o      ) /\  _/   \_   (       o   ) ,    ,     / /    \
  (  (    )  (        o   )  \      ,  ,  (__     __)            /_   \  _\
  (     ) ) (      o       ) _\  ,           \   /   <@>  ,   ,   /      \
   (  (  )   (   o        )  \     <@>  ,    | @ |   \|/         /  /     \
     |/|      (__      __)   _\  , \|/     , |   |        <ô>   /_    \   _\
                 \    / /  \ \               |   |   ,  , \|/    /        \
     (^) ,    ____|   |/__  __\   v \/   `  ,/     \            /  /    \  \
    , u      @___     |  |  |       °°         ,  , (^)  ,     /_   /      _\
        ,        \    | ,|  |,      ()/  ~        ,  u   , ,    /      \   \
       ,      ,   |   |  , ,           (~~~)    <@>            /  /  /   \  \
    ,    <@>      | @ |      v   ,  , (     )   \|/  ,   ,    /______  ______\
     ,    |       |   |              (  (    )          (^)         |  |
         ,    ,   |   |   ,  ,<&>    (     ) )    ,      u  <@>     |  |
    <@>  ,   ,    |   |        |      (  (  )      <@>      \|/    \|  |/
    \|/    ,    _/     \    , \v/ ,     |/|   ,    ,|  , ,  \v/  ,    ,   ,



<@>
\|/

(^)
 u

              ~~~~~~
            ~(      )~
           (   o      )
          (        o   )
         (      o       )
          (   o        )
           (__      __)
              \    /
           ____|   |
          @___     |
              \    |
               |   |
               | @ |
               |   |
               |   |
  <@>   <@>    |   |
__\|/____|____/     \_
  ________     ________
 /       /|   /       /|
/_______/ |  /_______/ |
| o   o | |  | o     | |
|   o   | |  |   o   | |
| o   o |/   |     o |/
`-------´    `-------´

                        ,     ,
                        |\---/|
                       /  , , |
                  __.-'|  / \ /
         __ ___.-'        ._O|
      .-'  '        :      _/
     / ,    .        .     |
    :  ;    :        :   _/
    |  |   .'     __:   /
    |  :   /'----'| \  |
    \  |\  |      | /| |
     '.'| /       || \ |
     | /|.'       '.l \\_
     || ||             '-'
     '-''-'

         ,
        /|
     _/<  \___
  e''         '--.______ __
   v^v                  '  '-.
      |     .        .        \
       \_   :        :      ;  :
         \   :__     '.     |  |
         |  / | '----'\     :  |
         | |\ |        |   /|  /
         | / ||         \ | '.'
        _// l.'         '.|\ |
       '-'               || ||
                        '-''-'



             _
            / \      _-'
          _/|  \-''- _ /
     __-' { |          \
         /             \
         /       "o.  |o }
         |            \ ;
                       ',
            \_         __\
              ''-_    \.//
                / '-____'
               /
             _'
           _-

      </pre>
    </div>
  <script src="js/startgame.js"></script>
  </body>
</html>

