<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- <meta charset="ASCII"> -->
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>The Quest</title>
  <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
  <link href="../css-components/credit-css.css" rel="stylesheet" type="text/css">
</head>
<body style= "opacity: 0;" onload="fadeAndMusic()" id="body" class="green">
  <div class="container d-flex justify-content-center">
    <div><h3 id="title">  Thank you for playing! </h3></div>
  </div>
  <div class="container">
      <h2 class="center-credits">~ Credits ~</h2>
    <pre id="credits">
      Music............................Olivier Girardot
      Sound effects....................Olivier Girardot
      Game design......................Olivier Girardot
      Graphic design.............Olivier & Lou Girardot
    </pre>
    <h1 class="center-credits">~~~~~~~~~~</h1>
  </div>
  <div class="text-font">
    <p id="enter">Press Enter</p>
  </div>
  <script src="../js/endcredits.js"></script>
</body>
</html>
