<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>The Quest</title>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
    <link href="css-components/startgame.css" rel="stylesheet" type="text/css">
  </head>

  <% if (typeof(fail) != "undefined") { %>
    <body onload="playSound()">
      <div class="container d-flex justify-content-center" id="title">
        <% const phrase = ["Have you lost thy memory? Try again Sire!", "That is incorrect stranger!", "Wrong dear friend!", "Have thee been bewitched?", "Thee do not remembre thy name?"] %>
        <p><%= phrase[Math.floor(Math.random()*5)] %></p>
      </div>
      <div class="container d-flex justify-content-center decoration">
        <pre>
     (¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯·.¸¸.·´¯`·.¸¸.·´¯)
    ( \                                                                      / )
   ( \ )                                                                    ( / )
  ( ) (                                                                      ) ( )
   ( / )                                                                    ( \ )
    ( /                                                                      \ )
    ( \                                                                      / )
   ( \ )                                                                    ( / )
  ( ) (                                                                      ) ( )
   ( / )                                                                    ( \ )
    ( /                                                                      \ )
    ( \                                                                      / )
   ( \ )                                                                    ( / )
  ( ) (                                                                      ) ( )
   ( / )                                                                    ( \ )
    ( /                                                                      \ )
     (_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·._)
        </pre>
          <div id="load-game">
            <form action="load" method="POST">
              <p>
              <label class="labels">What is thy name </label>
              </p>
              <p>
              <input type="text" maxlength="15" minlength="1" name="name" id="nameInput">
              </p>
              <p>
              <label class="labels">What is thy magic word</label>
              </p>
              <p>
              <input type="text" maxlength="15" minlength="1" name="magic">
              </p>
              <input type="submit" name="">
            </form>
          </div>
        </div>
      <script src="js/startgame.js"></script>
    </body>

  <% } else { %>

    <body style= "opacity: 0;" onload="unfade()" id="body">
      <div class="d-flex justify-content-start">
        <p id="visit"><a href="https://www.bamsfx.com" id="bamsfx" target="blank">BAMSFX</a>   Online SFX Shop!!!</p>
      </div>
      <div class="container d-flex justify-content-center" id="title">
        <p>Welcome adventurer! Choose thy path!</p>
      </div>
      <p class="container d-flex justify-content-center" id="how-to">How to play</p>

      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p class="d-flex justify-content-center text-warning">Your Character</p>
          Your first task will be to chose a name and your weapon!<br>
          You will be attributed some Agility, Strength and Life points.
          <p></p>
          <p></p>
          <p class="d-flex justify-content-center text-warning">Combat</p>
          You will have to fight!<br>
          The combat system is round based. You just need to throw the dice and see what happens!
          <p></p>
          <p></p>
          <p class="d-flex justify-content-center text-warning">Eating</p>
          You can regain Life points at any time by eating, except during combats!
          <p></p>
          <p></p>
          <p class="d-flex justify-content-center text-warning">Inventory</p>
          You can gather different kinds of objects during your journey, they will go into your inventory.
          You can check your inventory at any time, except during combats!
          <p></p>
          <p></p>
          <p class="d-flex justify-content-center text-warning">Mouse/Keyboard</p>
          You can use your mouse to click certain bottons.
          BUT you can play the entire game just using the keyboard. Simply press the first letter of the action you want to do. E to eat. I to open and close the Inventory. M to turn the music off and on. You get the idea.
          <br><br>
          Now, GO ON!
        </div>
      </div>

      <div class="container d-flex justify-content-center decoration">
        <pre>
     (¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯·.¸¸.·´¯`·.¸¸.·´¯)
    ( \                                                                      / )
   ( \ )                                                                    ( / )
  ( ) (                                                                      ) ( )
   ( / )                                                                    ( \ )
    ( /                                                                      \ )
    ( \                                                                      / )
   ( \ )                                                                    ( / )
  ( ) (                                                                      ) ( )
   ( / )                                                                    ( \ )
    ( /                                                                      \ )
    ( \                                                                      / )
   ( \ )                                                                    ( / )
  ( ) (                                                                      ) ( )
   ( / )                                                                    ( \ )
    ( /                                                                      \ )
     (_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·._)
        </pre>
        <div class="menu">
          <p id="start" class="highlight">Start new</p>
          <p id="load">Load game</p>
        </div>
        <div class="hide" id="load-game">
          <form action="load" method="POST">
            <p>
            <label class="labels">What is thy name </label>
            </p>
            <p>
            <input type="text" maxlength="15" minlength="1" name="name" id="nameInput">
            </p>
            <p>
            <label class="labels">What is thy magic word</label>
            </p>
            <p>
            <input type="text" maxlength="15" minlength="1" name="magic" id="magicInput">
            </p>
            <input type="submit" name="" value="Enterto Play" class="invisible">
          </form>
        </div>
      </div>
      <div class="container d-flex justify-content-center">
        <div>
          <form action="scoreboard">
            <input id="scoreboard" type="submit" value="Score board">
          </form>
        </div>
        <div>
         <form action="TheEnd">
           <input id="scoreboard" type="submit" value="Credits">
         </form>
        </div>
      </div>
    <script src="js/startgame.js"></script>
    </body>

  <% }; %>
</html>

