<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>The Quest</title>
  <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
  <link href="css-components/start.css" rel="stylesheet" type="text/css">
</head>
<body style= "opacity: 0;" onload="fadeAndCreditMusic()" id="body">
  <div class="container d-flex justify-content-end">
    <img src="../images/lyre-play.png" onclick="sound()" id="music-on" class="invisible">
    <img src="../images/lyre-stop.png" onclick="sound()" id="music-off">
  </div>
  <div class="container d-flex justify-content-center position-relative">
    <pre class="decoration">

    (¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯)
   ( \                                                                               / )
  ( \ )                                                                             ( / )
 ( ) (                                                                               ) ( )
  ( / )                                                                             ( \ )
   ( /                                                                               \ )
   ( \                                                                               / )
  ( \ )                                                                             ( / )
 ( ) (                                                                               ) ( )
  ( / )                                                                             ( \ )
   ( /                                                                               \ )
   ( \                                                                               / )
  ( \ )                                                                             ( / )
 ( ) (                                                                               ) ( )
  ( / )                                                                             ( \ )
   ( /                                                                               \ )
   ( \                                                                               / )
  ( \ )                                                                             ( / )
 ( ) (                                                                               ) ( )
  ( / )                                                                             ( \ )
   ( /                                                                               \ )
  ( \                                                                               / )
  ( \ )                                                                             ( / )
 ( ) (                                                                               ) ( )
  ( / )                                                                             ( \ )
   ( /                                                                               \ )
    (_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·._¸.·´¯`·._)

    </pre>
    <div class="position-absolute">
      <h1 class="d-flex justify-content-center greetings-position">Greetings, and welcome to</h1>
      <h1 class="d-flex justify-content-center" id="title-quest">The Quest!</h1>
      <pre class="d-flex justify-content-center intro-art">

                                   ~~~~~~                     /\
                                 ~(      )~                  /  \
                                (   o      )                /  \ \
                               (        o   )              / /    \
                              (      o       )            /_   \  _\
         __                    (   o        )              /      \
        /==\                    (__      __)              /  /     \
       _\~~/_                      \    /                /_    \   _\
     _/^^^^^^\                  ____|   |                 /        \
    /  \^^^^|\\                @___     |                /  /    \  \
   / .. \^^^| \\                   \    |               /_   /      _\
   \ .. /^^^|  &[=======>           |   |                /      \   \
    \__/^^^^\                       | @ |               /  /  /   \  \
       |-||-|                       |   |              /______  ______\
       |#||#|                       |   |                    |  |
       |-||-|          <@>   <@>    |   |     <@>   (^)      |  |           (^)
_______{^}{^}__________\|/____|____/     \____\|/____U_______|  |____________u__

      </pre>
    </div>
  </div>
  <div class="text-font d-flex justify-content-center">
    <p id="intro"></p>
  </div>
  <p class="d-flex justify-content-center" id="enter"></p>
<script src="js/start.js"></script>
</body>
</html>
