body {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: #1dbb1e;
  text-shadow: 0 0 9px #1dbb1e;
}

h1 {
  font-size: 1.6vw;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.2vw;
}

pre {
  overflow-y: hidden;
  overflow-x: hidden;
  letter-spacing: -3px;
}

.cursor {
  animation:blinking 1s linear infinite;
}


@keyframes blinking {
    0% { opacity: 1; }
   49% { opacity: 1; }
   50% { opacity: 0; }
  100% { opacity: 0; }
}


.text-font {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 2vw;
}


.large-swords {
  font-size: 9vw;
}

.adjust-margin {
  margin-top: 150px;
  margin-left:auto !important;
  margin-right:auto !important;
  max-width: 1500px;
}

#title {
  margin-top: 100px;
  font-size: 5vw;
}
