body {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: #1dbb1e;
  text-shadow: 0 0 9px #1dbb1e;
}

h1 {
  font-size: 26px;
  margin: 0;
  padding: 0;
}

p {
  font-size: 22px;
}

pre {
  overflow-y: hidden;
  overflow-x: hidden;
  letter-spacing: -3px;
}

.invisible {
  display: none;
}

#music-on, #music-off {
  margin-top: 15px;
  height: 34px;
  cursor: pointer;
}

#castle {
  margin-top: 15px;
  height: 34px;
  cursor: pointer;
}

#title {
  margin-top: 20px;
}

.decoration {
  position: relative;
  margin-top: 20px;
  font-size: 22px;
  line-height: 0.9em;
}

.decoration pre {
   color: #1dbb1e;
}

.scores {
  margin: 100px 0 0 -30px;
  line-height: 0.7em;
}

.score {
  font-size: 17px;
}
