body {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: #1dbb1e;
  text-shadow: 0 0 9px #1dbb1e;
}

h1 {
  font-size: 26px;
  margin: 0;
  padding: 0;
}

p {
  font-size: 22px;
}

pre {
  overflow-y: hidden;
  overflow-x: hidden;
  letter-spacing: -3px;
}

.cursor {
  animation:blinking 1s linear infinite;
}

#title-quest {
  display: none;
  margin-top: 20px;
  font-size: 30px;
}

#enter {
  animation:blinking 1s linear infinite;
}

.greetings-position {
  margin-top: 67px;
}

@keyframes blinking {
    0% { opacity: 1; }
   49% { opacity: 1; }
   50% { opacity: 0; }
  100% { opacity: 0; }
}

.intro-art {
  font-size: 22px;
  color: #1dbb1e;
  text-shadow: 0 0 9px #1dbb1e;
  line-height: 0.9em;
}

#intro {
  width: 57vw;
}


.text-font {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 22px;
  margin-top: -40px;
}

.decoration {
  color: #1dbb1e;
  font-size: 23px;
  line-height: 0.9em;
}

.invisible {
  display: none;
}

#music-on, #music-off {
  margin-top: 15px;
  margin-right: 164px;
  height: 34px;
  cursor: pointer;
}

#castle {
  margin-top: 15px;
  margin-right: 694px;
  height: 34px;
  cursor: pointer;
}
