body {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: #1dbb1e;
  text-shadow: 0 0 9px #1dbb1e;
}

h1 {
  font-size: 1.6vw;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.2vw;
}

pre {
  overflow-y: hidden;
  overflow-x: hidden;
  letter-spacing: -3px;
}

#enter {
  animation:blinking 1s linear infinite;
}

@keyframes blinking {
    0% { opacity: 0; }
   49% { opacity: 0; }
   50% { opacity: 1; }
  100% { opacity: 1; }
}

#title {
  margin-top: 80px
}

.decoration {
  position: relative;
  margin-top: 20px;
  font-size: 25px;
  line-height: 0.9em;
}

.decoration pre {
   color: #1dbb1e;
}

.menu {
  position: absolute;
  top: 35%;
}

.highlight {
  color: black;
  background-color: #1dbb1e;
}

.hide {
  display: none;
}

#load-game {
  position: absolute;
  top: 15%;
}

.labels {
  font-size: 15px;
  margin-bottom: -12px;
}

.hideInvalid {
  display: none;
}

#scoreboard {
  margin-left: 200px;
  color: #1dbb1e;
  background-color: black;
  border: solid #1dbb1e 1px;
  text-shadow: 0 0 9px #1dbb1e;
}

#scoreboard:hover {
  color: black;
  background-color: #1dbb1e;
}
