body {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: #1dbb1e;
  text-shadow: 0 0 9px #1dbb1e;
}

h1 {
  font-size: 26px;
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
}

pre {
  overflow-y: hidden;
  overflow-x: hidden;
  letter-spacing: -3px;
}

#chapterOneTitle {
  font-family: 'MedievalSharp', cursive;
  margin-top: 120px;
  text-align: center;
}

#chapterOneTitle p {
  font-size: 50px;
}

#paper-role {
  margin-top: 100px;
}

.decoration {
  color: #1dbb1e;
  font-size: 20px;
  line-height: 0.9em;
}

.decoration pre {
   color: #1dbb1e;
}

.decoration-dead {
  margin-top: 40px;
  color: red;
  font-size: 22px;
  line-height: 0.9em;
  text-shadow: 0 0 9px red !important;
}

.decoration-dead pre {
   color: red;
}

#hide-submit {
  display: none;
}

.forest-art, .forest-art2, .path-art, .forest-art-clouds {
  font-size: 20px;
  color: #1dbb1e;
  text-shadow: 0 0 9px #1dbb1e;
  line-height: 0.9em;
}

.forest-art {
  margin-left: 222px;
  margin-top: -408px;
}

.forest-art2 {
  margin-left: 214px;
  margin-top: -430px;
}

.forest-art-clouds {
  margin-left: 242px;
  margin-top: -496px;
}

.path-art {
  margin-left: 220px;
  margin-top: -416px;
}

.invisible {
  display: none;
}

#music-on, #music-off {
  margin-top: 15px;
  margin-right: 164px;
  height: 34px;
  cursor: pointer;
}

#castle {
  margin-top: 15px;
  margin-right: 694px;
  height: 34px;
  cursor: pointer;
}

.player {
  font-size: 12px;
  margin-top: -400px;
  margin-left: -104px;
}

.player-board {
  margin-top: -430px;
  margin-left: -124px;
}

#eat {
  color: #1dbb1e;
  background-color: black;
  border: solid #1dbb1e 1px;
  text-shadow: 0 0 9px #1dbb1e;
}

#eat:hover {
  color: black;
  background-color: #1dbb1e;
}

#press-e {
  border: solid #1dbb1e 1px;
  padding: 5px;
  text-shadow: 0 0 9px #1dbb1e;
}

#press-i {
  border: solid #1dbb1e 1px;
  padding: 5px;
  text-shadow: 0 0 9px #1dbb1e;
}

#inventory-key {
  margin: 32px 0 0 26px;
}

#inventory {
  margin: 32px 0 0 26px;
  width: 136px;
  color: #1dbb1e;
  background-color: black;
  border: solid #1dbb1e 1px;
  text-shadow: 0 0 9px #1dbb1e;
}

#inventory:hover {
  color: black;
  background-color: #1dbb1e;
}



.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 100px 0 0 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: black;
  margin: 100px 0 200px 300px;
  padding: 20px;
  border: 1px solid green;
  width: 400px;
}

/* The Close Button */
.close {
  color: #1dbb1e;
  text-shadow: 0 0 9px #1dbb1e;
  opacity: 1;
  margin-left: 330px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: green;
  text-decoration: none;
  cursor: pointer;
}

#arrow-up, #arrow-left, #arrow-right {
  height: 35px;
  width: 35px;
  background: black;
  color: #1dbb1e;
  border: solid 1px #1dbb1e;
  text-shadow: 0 0 9px #1dbb1e;
  margin: 0 10px 10px 10px;
}

#arrow-left {
  transform: rotate(-90deg);
}

#arrow-right {
  transform: rotate(90deg);
}

.clicked {
  color: black !important;
  background-color: #1dbb1e !important;
}

.key {
  color: yellow;
  font-size: 10px;
  transform: rotate(-30deg);
  letter-spacing: -1px;
  text-shadow: 0 0 9px yellow;
  margin-left: 362px;
  margin-top: -232px;
  padding-right: 20px;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow, 0 0 60px yellow, 0 0 70px yellow;
  }

  to {
    text-shadow: 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow, 0 0 60px yellow, 0 0 70px yellow, 0 0 80px yellow;
  }
}

.strawberries {
  color: red;
  font-size: 10px;
  text-shadow: 0 0 9px red;
  margin-left: 580px;
  margin-top: -408px;
  padding-right: 20px;
  animation: glowRed 1s ease-in-out infinite alternate;
}

.strawberries2 {
  color: red;
  font-size: 10px;
  text-shadow: 0 0 9px red;
  margin-left: 386px;
  margin-top: -384px;
  padding-right: 20px;
  animation: glowRed 1s ease-in-out infinite alternate;
}

.strawberries3 {
  color: red;
  font-size: 10px;
  text-shadow: 0 0 9px red;
  margin-left: 456px;
  margin-top: -368px;
  padding-right: 20px;
  animation: glowRed 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowRed {
  from {
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
  }

  to {
    text-shadow: 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red, 0 0 80px red;
  }
}
