body {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: #1dbb1e;
  text-shadow: 0 0 9px #1dbb1e;
}

h1 {
  font-size: 26px;
  margin: 0;
  padding: 0;
}

p {
  font-size: 22px;
}

pre {
  overflow-y: hidden;
  overflow-x: hidden;
  letter-spacing: -3px;
}

.decoration {
  color: #1dbb1e;
  font-size: 23px;
  line-height: 0.9em;
}

.decoration pre {
   color: #1dbb1e;
}

#hide-submit {
  display: none;
}

.forest-art, .path-art {
  margin-left: 200px;
  font-size: 22px;
  color: #1dbb1e;
  text-shadow: 0 0 9px #1dbb1e;
  line-height: 0.9em;
}

.forest-art {
  margin-top: -530px;
}

.path-art {
  margin-top: -460px;
}

.invisible {
  display: none;
}

#music-on, #music-off {
  margin-top: 15px;
  margin-right: 164px;
  height: 34px;
  cursor: pointer;
}
