body {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: #1dbb1e;
  text-shadow: 0 0 9px #1dbb1e;
}

h1 {
  font-size: 1.6vw;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.2vw;
}

pre {
  overflow-y: hidden;
  overflow-x: hidden;
  letter-spacing: -3px;
}

.decoration {
  margin-top: 40px;
  color: #1dbb1e;
  font-size: 1.6vw;
  line-height: 0.9em;
}

.decoration pre {
   color: #1dbb1e;
}

#hide-submit {
  display: none;
}

.forest-art, .path-art {
  margin-left: 200px;
  font-size: 1.5vw;
  color: #1dbb1e;
  text-shadow: 0 0 9px #1dbb1e;
  line-height: 0.9em;
}

.forest-art {
  margin-top: -430px;
}

.path-art {
  margin-top: -460px;
}

.invisible {
  display: none;
}
